<!doctype html>
<html>
   <head>
   <title>Create Survey</title>
   </head>
   <body>
        <h1> Choose a course </h1>
        <Form method="POST">
            <select name="Item_name">
                {% for course in courses %}
                    <option value={{course}}>{{course}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="choose_course">Choose course</button>
            </p>
            <h1> Choose a student or staff and a course for enrollment </h1>
            <select name="enrol">
                {% for user in users %}
                    <option value={{user}}>{{user}}</option>
                {% endfor %}
            </select>
            <select name="course_for_enrol">
                {% for course in all_courses %}
                    <option value={{course}}>{{course}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="choose_user_and_course">Enrol</button>
            </p>
	        <button type="submit" name="logout">Log out</button>
        </Form>
    </body>
</html>
