<!doctype html>
<html>
   <head>
   <title>Create Survey</title>
   </head>
   <body>
      <h1> Choose a course </h1>
      <Form method="POST">
         <select name = "Item_name">
			<option value="SENG2011_17s2">SENG2011_17s2</option>
			<option value="SENG2011_18s1">SENG2011_18s1</option>
			<option value="SENG2011_18s2">SENG2011_18s2</option>
			<option value="SENG2021_17s2">SENG2021_17s2</option>
			<option value="SENG2021_18s1">SENG2021_18s1</option>
			<option value="SENG2021_18s2">SENG2021_18s2</option>
			<option value="SENG3011_17s2">SENG3011_17s2</option>
			<option value="SENG3011_18s1">SENG3011_18s1</option>
			<option value="SENG3011_18s2">SENG3011_18s2</option>
			<option value="SENG4904_17s2">SENG4904_17s2</option>
			<option value="SENG4904_18s1">SENG4904_18s1</option>
			<option value="SENG4904_18s2">SENG4904_18s2</option>
			<option value="SENG4905_17s2">SENG4905_17s2</option>
			<option value="SENG4905_18s1">SENG4905_18s1</option>
			<option value="SENG4905_18s2">SENG4905_18s2</option>
			<option value="SENG4906_17s2">SENG4906_17s2</option>
			<option value="SENG4906_18s1">SENG4906_18s1</option>
			<option value="SENG4906_18s2">SENG4906_18s2</option>
			<option value="SENG4907_17s2">SENG4907_17s2</option>
			<option value="SENG4907_18s1">SENG4907_18s1</option>
			<option value="SENG4907_18s2">SENG4907_18s2</option>
			<option value="SENG4920_17s2">SENG4920_17s2</option>
			<option value="SENG4920_18s1">SENG4920_18s1</option>
			<option value="SENG4920_18s2">SENG4920_18s2</option>
			<option value="COMP1000_17s2">COMP1000_17s2</option>
			<option value="COMP1000_18s1">COMP1000_18s1</option>
			<option value="COMP1000_18s2">COMP1000_18s2</option>
			<option value="COMP1400_17s2">COMP1400_17s2</option>
			<option value="COMP1400_18s1">COMP1400_18s1</option>
			<option value="COMP1400_18s2">COMP1400_18s2</option>
			<option value="COMP1511_17s2">COMP1511_17s2</option>
			<option value="COMP1511_18s1">COMP1511_18s1</option>
			<option value="COMP1511_18s2">COMP1511_18s2</option>
			<option value="COMP1521_17s2">COMP1521_17s2</option>
			<option value="COMP1521_18s1">COMP1521_18s1</option>
			<option value="COMP1521_18s2">COMP1521_18s2</option>
			<option value="COMP1531_17s2">COMP1531_17s2</option>
			<option value="COMP1531_18s1">COMP1531_18s1</option>
			<option value="COMP1531_18s2">COMP1531_18s2</option>
			<option value="COMP1911_17s2">COMP1911_17s2</option>
			<option value="COMP1911_18s1">COMP1911_18s1</option>
			<option value="COMP1911_18s2">COMP1911_18s2</option>
			<option value="COMP1921_17s2">COMP1921_17s2</option>
			<option value="COMP1921_18s1">COMP1921_18s1</option>
			<option value="COMP1921_18s2">COMP1921_18s2</option>
			<option value="COMP1927_17s2">COMP1927_17s2</option>
			<option value="COMP1927_18s1">COMP1927_18s1</option>
			<option value="COMP1927_18s2">COMP1927_18s2</option>
			<option value="COMP2041_17s2">COMP2041_17s2</option>
			<option value="COMP2041_18s1">COMP2041_18s1</option>
			<option value="COMP2041_18s2">COMP2041_18s2</option>
			<option value="COMP2111_17s2">COMP2111_17s2</option>
			<option value="COMP2111_18s1">COMP2111_18s1</option>
			<option value="COMP2111_18s2">COMP2111_18s2</option>
			<option value="COMP2121_17s2">COMP2121_17s2</option>
			<option value="COMP2121_18s1">COMP2121_18s1</option>
			<option value="COMP2121_18s2">COMP2121_18s2</option>
			<option value="COMP2511_17s2">COMP2511_17s2</option>
			<option value="COMP2511_18s1">COMP2511_18s1</option>
			<option value="COMP2511_18s2">COMP2511_18s2</option>
			<option value="COMP2521_17s2">COMP2521_17s2</option>
			<option value="COMP2521_18s1">COMP2521_18s1</option>
			<option value="COMP2521_18s2">COMP2521_18s2</option>
			<option value="COMP2911_17s2">COMP2911_17s2</option>
			<option value="COMP2911_18s1">COMP2911_18s1</option>
			<option value="COMP2911_18s2">COMP2911_18s2</option>
			<option value="COMP3121_17s2">COMP3121_17s2</option>
			<option value="COMP3121_18s1">COMP3121_18s1</option>
			<option value="COMP3121_18s2">COMP3121_18s2</option>
			<option value="COMP3131_17s2">COMP3131_17s2</option>
			<option value="COMP3131_18s1">COMP3131_18s1</option>
			<option value="COMP3131_18s2">COMP3131_18s2</option>
			<option value="COMP3141_17s2">COMP3141_17s2</option>
			<option value="COMP3141_18s1">COMP3141_18s1</option>
			<option value="COMP3141_18s2">COMP3141_18s2</option>
			<option value="COMP3151_17s2">COMP3151_17s2</option>
			<option value="COMP3151_18s1">COMP3151_18s1</option>
			<option value="COMP3151_18s2">COMP3151_18s2</option>
			<option value="COMP3153_17s2">COMP3153_17s2</option>
			<option value="COMP3153_18s1">COMP3153_18s1</option>
			<option value="COMP3153_18s2">COMP3153_18s2</option>
			<option value="COMP3161_17s2">COMP3161_17s2</option>
			<option value="COMP3161_18s1">COMP3161_18s1</option>
			<option value="COMP3161_18s2">COMP3161_18s2</option>
			<option value="COMP3211_17s2">COMP3211_17s2</option>
			<option value="COMP3211_18s1">COMP3211_18s1</option>
			<option value="COMP3211_18s2">COMP3211_18s2</option>
			<option value="COMP3222_17s2">COMP3222_17s2</option>
			<option value="COMP3222_18s1">COMP3222_18s1</option>
			<option value="COMP3222_18s2">COMP3222_18s2</option>
			<option value="COMP3231_17s2">COMP3231_17s2</option>
			<option value="COMP3231_18s1">COMP3231_18s1</option>
			<option value="COMP3231_18s2">COMP3231_18s2</option>
			<option value="COMP3311_17s2">COMP3311_17s2</option>
			<option value="COMP3311_18s1">COMP3311_18s1</option>
			<option value="COMP3311_18s2">COMP3311_18s2</option>
			<option value="COMP3331_17s2">COMP3331_17s2</option>
			<option value="COMP3331_18s1">COMP3331_18s1</option>
			<option value="COMP3331_18s2">COMP3331_18s2</option>
			<option value="COMP3411_17s2">COMP3411_17s2</option>
			<option value="COMP3411_18s1">COMP3411_18s1</option>
			<option value="COMP3411_18s2">COMP3411_18s2</option>
			<option value="COMP3421_17s2">COMP3421_17s2</option>
			<option value="COMP3421_18s1">COMP3421_18s1</option>
			<option value="COMP3421_18s2">COMP3421_18s2</option>
			<option value="COMP3431_17s2">COMP3431_17s2</option>
			<option value="COMP3431_18s1">COMP3431_18s1</option>
			<option value="COMP3431_18s2">COMP3431_18s2</option>
			<option value="COMP3511_17s2">COMP3511_17s2</option>
			<option value="COMP3511_18s1">COMP3511_18s1</option>
			<option value="COMP3511_18s2">COMP3511_18s2</option>
			<option value="COMP3601_17s2">COMP3601_17s2</option>
			<option value="COMP3601_18s1">COMP3601_18s1</option>
			<option value="COMP3601_18s2">COMP3601_18s2</option>
			<option value="COMP3821_17s2">COMP3821_17s2</option>
			<option value="COMP3821_18s1">COMP3821_18s1</option>
			<option value="COMP3821_18s2">COMP3821_18s2</option>
			<option value="COMP3891_17s2">COMP3891_17s2</option>
			<option value="COMP3891_18s1">COMP3891_18s1</option>
			<option value="COMP3891_18s2">COMP3891_18s2</option>
			<option value="COMP3900_17s2">COMP3900_17s2</option>
			<option value="COMP3900_18s1">COMP3900_18s1</option>
			<option value="COMP3900_18s2">COMP3900_18s2</option>
			<option value="COMP3901_17s2">COMP3901_17s2</option>
			<option value="COMP3901_18s1">COMP3901_18s1</option>
			<option value="COMP3901_18s2">COMP3901_18s2</option>
			<option value="COMP3902_17s2">COMP3902_17s2</option>
			<option value="COMP3902_18s1">COMP3902_18s1</option>
			<option value="COMP3902_18s2">COMP3902_18s2</option>
			<option value="COMP4001_17s2">COMP4001_17s2</option>
			<option value="COMP4001_18s1">COMP4001_18s1</option>
			<option value="COMP4001_18s2">COMP4001_18s2</option>
			<option value="COMP4121_17s2">COMP4121_17s2</option>
			<option value="COMP4121_18s1">COMP4121_18s1</option>
			<option value="COMP4121_18s2">COMP4121_18s2</option>
			<option value="COMP4128_17s2">COMP4128_17s2</option>
			<option value="COMP4128_18s1">COMP4128_18s1</option>
			<option value="COMP4128_18s2">COMP4128_18s2</option>
			<option value="COMP4141_17s2">COMP4141_17s2</option>
			<option value="COMP4141_18s1">COMP4141_18s1</option>
			<option value="COMP4141_18s2">COMP4141_18s2</option>
			<option value="COMP4161_17s2">COMP4161_17s2</option>
			<option value="COMP4161_18s1">COMP4161_18s1</option>
			<option value="COMP4161_18s2">COMP4161_18s2</option>
			<option value="COMP4181_17s2">COMP4181_17s2</option>
			<option value="COMP4181_18s1">COMP4181_18s1</option>
			<option value="COMP4181_18s2">COMP4181_18s2</option>
			<option value="COMP4336_17s2">COMP4336_17s2</option>
			<option value="COMP4336_18s1">COMP4336_18s1</option>
			<option value="COMP4336_18s2">COMP4336_18s2</option>
			<option value="COMP4337_17s2">COMP4337_17s2</option>
			<option value="COMP4337_18s1">COMP4337_18s1</option>
			<option value="COMP4337_18s2">COMP4337_18s2</option>
			<option value="COMP4418_17s2">COMP4418_17s2</option>
			<option value="COMP4418_18s1">COMP4418_18s1</option>
			<option value="COMP4418_18s2">COMP4418_18s2</option>
			<option value="COMP4601_17s2">COMP4601_17s2</option>
			<option value="COMP4601_18s1">COMP4601_18s1</option>
			<option value="COMP4601_18s2">COMP4601_18s2</option>
			<option value="COMP4904_17s2">COMP4904_17s2</option>
			<option value="COMP4904_18s1">COMP4904_18s1</option>
			<option value="COMP4904_18s2">COMP4904_18s2</option>
			<option value="COMP4905_17s2">COMP4905_17s2</option>
			<option value="COMP4905_18s1">COMP4905_18s1</option>
			<option value="COMP4905_18s2">COMP4905_18s2</option>
			<option value="COMP4906_17s2">COMP4906_17s2</option>
			<option value="COMP4906_18s1">COMP4906_18s1</option>
			<option value="COMP4906_18s2">COMP4906_18s2</option>
			<option value="COMP4920_17s2">COMP4920_17s2</option>
			<option value="COMP4920_18s1">COMP4920_18s1</option>
			<option value="COMP4920_18s2">COMP4920_18s2</option>
			<option value="COMP4930_17s2">COMP4930_17s2</option>
			<option value="COMP4930_18s1">COMP4930_18s1</option>
			<option value="COMP4930_18s2">COMP4930_18s2</option>
			<option value="COMP4931_17s2">COMP4931_17s2</option>
			<option value="COMP4931_18s1">COMP4931_18s1</option>
			<option value="COMP4931_18s2">COMP4931_18s2</option>
			<option value="COMP4941_17s2">COMP4941_17s2</option>
			<option value="COMP4941_18s1">COMP4941_18s1</option>
			<option value="COMP4941_18s2">COMP4941_18s2</option>
			<option value="COMP6441_17s2">COMP6441_17s2</option>
			<option value="COMP6441_18s1">COMP6441_18s1</option>
			<option value="COMP6441_18s2">COMP6441_18s2</option>
			<option value="COMP6443_17s2">COMP6443_17s2</option>
			<option value="COMP6443_18s1">COMP6443_18s1</option>
			<option value="COMP6443_18s2">COMP6443_18s2</option>
			<option value="COMP6445_17s2">COMP6445_17s2</option>
			<option value="COMP6445_18s1">COMP6445_18s1</option>
			<option value="COMP6445_18s2">COMP6445_18s2</option>
			<option value="COMP6447_17s2">COMP6447_17s2</option>
			<option value="COMP6447_18s1">COMP6447_18s1</option>
			<option value="COMP6447_18s2">COMP6447_18s2</option>
			<option value="COMP6448_17s2">COMP6448_17s2</option>
			<option value="COMP6448_18s1">COMP6448_18s1</option>
			<option value="COMP6448_18s2">COMP6448_18s2</option>
			<option value="COMP6449_17s2">COMP6449_17s2</option>
			<option value="COMP6449_18s1">COMP6449_18s1</option>
			<option value="COMP6449_18s2">COMP6449_18s2</option>
			<option value="COMP6714_17s2">COMP6714_17s2</option>
			<option value="COMP6714_18s1">COMP6714_18s1</option>
			<option value="COMP6714_18s2">COMP6714_18s2</option>
			<option value="COMP6733_17s2">COMP6733_17s2</option>
			<option value="COMP6733_18s1">COMP6733_18s1</option>
			<option value="COMP6733_18s2">COMP6733_18s2</option>
			<option value="COMP6741_17s2">COMP6741_17s2</option>
			<option value="COMP6741_18s1">COMP6741_18s1</option>
			<option value="COMP6741_18s2">COMP6741_18s2</option>
			<option value="COMP6752_17s2">COMP6752_17s2</option>
			<option value="COMP6752_18s1">COMP6752_18s1</option>
			<option value="COMP6752_18s2">COMP6752_18s2</option>
			<option value="COMP6771_17s2">COMP6771_17s2</option>
			<option value="COMP6771_18s1">COMP6771_18s1</option>
			<option value="COMP6771_18s2">COMP6771_18s2</option>
			<option value="COMP6841_17s2">COMP6841_17s2</option>
			<option value="COMP6841_18s1">COMP6841_18s1</option>
			<option value="COMP6841_18s2">COMP6841_18s2</option>
			<option value="COMP6843_17s2">COMP6843_17s2</option>
			<option value="COMP6843_18s1">COMP6843_18s1</option>
			<option value="COMP6843_18s2">COMP6843_18s2</option>
			<option value="COMP6845_17s2">COMP6845_17s2</option>
			<option value="COMP6845_18s1">COMP6845_18s1</option>
			<option value="COMP6845_18s2">COMP6845_18s2</option>
			<option value="COMP9242_17s2">COMP9242_17s2</option>
			<option value="COMP9242_18s1">COMP9242_18s1</option>
			<option value="COMP9242_18s2">COMP9242_18s2</option>
			<option value="COMP9243_17s2">COMP9243_17s2</option>
			<option value="COMP9243_18s1">COMP9243_18s1</option>
			<option value="COMP9243_18s2">COMP9243_18s2</option>
			<option value="COMP9315_17s2">COMP9315_17s2</option>
			<option value="COMP9315_18s1">COMP9315_18s1</option>
			<option value="COMP9315_18s2">COMP9315_18s2</option>
			<option value="COMP9318_17s2">COMP9318_17s2</option>
			<option value="COMP9318_18s1">COMP9318_18s1</option>
			<option value="COMP9318_18s2">COMP9318_18s2</option>
			<option value="COMP9319_17s2">COMP9319_17s2</option>
			<option value="COMP9319_18s1">COMP9319_18s1</option>
			<option value="COMP9319_18s2">COMP9319_18s2</option>
			<option value="COMP9321_17s2">COMP9321_17s2</option>
			<option value="COMP9321_18s1">COMP9321_18s1</option>
			<option value="COMP9321_18s2">COMP9321_18s2</option>
			<option value="COMP9322_17s2">COMP9322_17s2</option>
			<option value="COMP9322_18s1">COMP9322_18s1</option>
			<option value="COMP9322_18s2">COMP9322_18s2</option>
			<option value="COMP9323_17s2">COMP9323_17s2</option>
			<option value="COMP9323_18s1">COMP9323_18s1</option>
			<option value="COMP9323_18s2">COMP9323_18s2</option>
			<option value="COMP9332_17s2">COMP9332_17s2</option>
			<option value="COMP9332_18s1">COMP9332_18s1</option>
			<option value="COMP9332_18s2">COMP9332_18s2</option>
			<option value="COMP9333_17s2">COMP9333_17s2</option>
			<option value="COMP9333_18s1">COMP9333_18s1</option>
			<option value="COMP9333_18s2">COMP9333_18s2</option>
			<option value="COMP9334_17s2">COMP9334_17s2</option>
			<option value="COMP9334_18s1">COMP9334_18s1</option>
			<option value="COMP9334_18s2">COMP9334_18s2</option>
			<option value="COMP9417_17s2">COMP9417_17s2</option>
			<option value="COMP9417_18s1">COMP9417_18s1</option>
			<option value="COMP9417_18s2">COMP9417_18s2</option>
			<option value="COMP9444_17s2">COMP9444_17s2</option>
			<option value="COMP9444_18s1">COMP9444_18s1</option>
			<option value="COMP9444_18s2">COMP9444_18s2</option>
			<option value="COMP9447_17s2">COMP9447_17s2</option>
			<option value="COMP9447_18s1">COMP9447_18s1</option>
			<option value="COMP9447_18s2">COMP9447_18s2</option>
			<option value="COMP9517_17s2">COMP9517_17s2</option>
			<option value="COMP9517_18s1">COMP9517_18s1</option>
			<option value="COMP9517_18s2">COMP9517_18s2</option>
			<option value="COMP9844_17s2">COMP9844_17s2</option>
			<option value="COMP9844_18s1">COMP9844_18s1</option>
			<option value="COMP9844_18s2">COMP9844_18s2</option>
	</select>
        <button type="submit" name="choose_course">choose course</button>
	</p>
	<button type="submit" name="logout">Log out</button>
      </Form>
   </body>
</html>
