<!doctype html>
<html>
   <head>
   <title> Create Survey </title>
   </head>
   <body>
      <h1> Create Questions </h1>
      <h2> Survey Name: {{survey_name}}</h2>
      <h2> Course Name: {{course_name}}</h2>
      {% for question in questions %} 
      <h2> Question {{loop.index}}: {{question[0]}} </h2>
      <h3> a) {{question[1]}}</h3>
      <h3> b) {{question[2]}}</h3>
      <h3> c) {{question[3]}}</h3>
      <h3> d) {{question[4]}}</h3>
      {% endfor %}
      <Form method="POST">
  		 	<p ><font size="6">Enter the question:</font></p>
            <input size = "120" name= "question" placeholder= "Question"/>
            <p>Enter Option 1:</p>
            <input name= "option_1" placeholder= "Option 1"/>
            <p>Enter Option 2:</p>
            <input name= "option_2" placeholder= "Option 2"/>
            <p>Enter Option 3:</p>
            <input name= "option_3" placeholder= "Option 3"/>
            <p>Enter Option 4:</p>
            <input name= "option_4" placeholder= "Option 4"/>
            <br>
         <button type="submit" name="add_question">Add</button>
         <button type="submit" name="finish">Submit</button>
      </Form>
   </body>
</html>

