 <!doctype html>
<html>
    <head>
    <title> Create question </title>
    </head>
    <body>
        <h1> Create Question </h1>
        <Form method="POST">
            <p ><font size="6">Enter the question:</font></p>
            <input size = "120" name= "question" placeholder= "Question"/>
            <p>Enter Option 1:</p>
            <input name= "option_1" placeholder= "Option 1"/>
            <p>Enter Option 2:</p>
            <input name= "option_2" placeholder= "Option 2"/>
            <p>Enter Option 3:</p>
            <input name= "option_3" placeholder= "Option 3"/>
            <p>Enter Option 4:</p>
            <input name= "option_4" placeholder= "Option 4"/>
            <br>
            <button type= "submit" name = "button">Submit question</button>
        </Form>
    </body>
</html>
